body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box{
    flex-shrink: 1;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #0052ff;
    font-size: 40px;   
}

@media (max-width: 600px) {
    body{
    flex-wrap: wrap;
    }
}
